# Default ignored files
/shelf/
/.idea/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/.idea/
out/
target/
build
output/
release/
debug/
*.log
*~
thumbs.db
.DS_Store
